<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sitop.smart365.dataservice.dao.CfgTelecommunicatingParameterMapper">
  <resultMap id="BaseResultMap" type="com.sitop.smart365.dataservice.model.CfgTelecommunicatingParameter">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="parameter_id" jdbcType="VARCHAR" property="parameterId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="parsing_order" jdbcType="INTEGER" property="parsingOrder" />
    <result column="inversion" jdbcType="BIT" property="inversion" />
    <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
    <result column="is_enable" jdbcType="BIT" property="isEnable" />
  </resultMap>
</mapper>