<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sitop.smart365.dataservice.dao.DataEnvMapper">
  <resultMap id="BaseResultMap" type="com.sitop.smart365.dataservice.model.DataEnv">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="data_uid" jdbcType="VARCHAR" property="dataUid" />
    <result column="agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="substation_id" jdbcType="BIGINT" property="substationId" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_alarm" jdbcType="INTEGER" property="isAlarm" />
  </resultMap>
</mapper>