<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sitop.smart365.dataservice.dao.DeviceTemplateMapper">
  <resultMap id="BaseResultMap" type="com.sitop.smart365.dataservice.model.DeviceTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="template" jdbcType="LONGVARCHAR" property="template" />
  </resultMap>
</mapper>